<div class="sidebar">
    <h1>USER NAME</h1>
        <a class="nav-link" routerLink="/home/dashboard" routerLinkActive="active" >Dashboard</a>
    <a class="nav-link" routerLink="/0" routerLinkActive="active">About</a>
    <a class="nav-link" routerLink="/1" routerLinkActive="active">Portfolio</a>
    <a class="nav-link" routerLink="/2" routerLinkActive="active">Gallery</a>
    <a class="nav-link" routerLink="/3" routerLinkActive="active">Service</a>
    <a class="nav-link" routerLink="/4" routerLinkActive="active">Join</a>
    <a class="nav-link" routerLink="/5" routerLinkActive="active">Contact</a>
 </div>