<div class="content">
    <h1>EMI Calculator</h1>
</div>
<mat-card class="example-result-card">
    <mat-card-content>
      <h2>Result</h2>
  
      <div class="example-label-container">
        <label id="example-name-label" class="example-name-label">Value</label>
        <label class="example-value-label">{{value}}</label>
        {{value}}
      </div>
      <mat-slider
          class="example-margin"
          [(ngModel)]="value" min="min" max="max" step="step"
          matSliderThumb>
      </mat-slider>

      <input [(ngModel)]="value" type="number"/>
    </mat-card-content>
  </mat-card>