h1{
    margin: 50px;
    text-align: center
}
.content{
    margin: 50px;
    width: 500px;
}
.example-h2 {
    margin-left: 10px;
    margin-right: 10px;
  }

  
  .example-margin {
    margin: 8px;
    width: 300px;
  }
   
  .mat-mdc-slider {
    max-width: 300px;
    width: 100%;
  }
  
  .mat-mdc-card + .mat-mdc-card {
    margin-top: 8px;
  }
  
  .example-result-card h2 {
    margin: 0 8px;
  }
  
  .example-label-container {
    display: flex;
    justify-content: space-between;
    margin: 20px 10px 0;
    max-width: 284px;
  }
  
  .example-result-card .example-value-label {
    font-weight: 600;
  }
  
  .form-control{
    width: 300px;
  }
  .example-value-label{
    position: absolute;
    right: 100px;
  }